extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Task Api

  h3 Dictionaries
  p
    a(href="/dictionaries/positions") "GET /dictionaries/positions"
  p
    a(href="/dictionaries/taskStatuses") "GET /dictionaries/taskStatuses"

  h3 Projects
  p
    a(href="/projects/list") "GET /projects/list"
  p
    a(href="/projects/1") "GET /projects/:id"
  p
    a(href="/projects/1/tasks") "GET /projects/:id/tasks"
  p "POST /projects"
  p "PUT /projects"
  p "DELETE /projects/:id"

  h3 Users
  p
    a(href="/users/list") "GET /users/list"
  p
    a(href="/users/1") "GET /users/:id"
  p
    a(href="/users/1/tasks") "GET /users/:id/tasks"
  p "POST /users"
  p "PUT /users"
  p "DELETE /users/:id"

  h3 Tasks
  p
    a(href="/tasks/list") "GET /tasks/list"
  p
    a(href="/tasks/1") "GET /tasks/:id"
  p "POST /tasks"
  p "PUT /tasks"
  p "DELETE /tasks/:id"